.field-item {
    height: 50px;
    width: 50px;
    background-color: #f1fdff;
    border: 1px solid black;
}

.leader-board {
    width: 40%;
}

.active {
    background-color: rgb(66, 65, 65);
}

.loose {
    background-color: red;
}

.win {
    background-color: green;
}